*{
-fx-background-color:"WHITE";
}

#ready:hover{
-fx-background-color:"Green";
-fx-text-fill:"White";
}

#back:hover{
-fx-background-color:"Green";
-fx-text-fill:"white";
}


#ready{
-fx-text-fill:"Black";
}

#back{
-fx-text-fill:"Black";
}

